<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/ticket.css">
	<title></title>
</head>
<body>
	 <div class="wrapper">
	 	<div class="block">
				<table class="info">
					<tr>
						<td class="center">
							<h1>Ticket</h1>	
						</td>
					</tr>
					<tr>
						<td>From</td>
						<td><%= ticket.Origin || "..."%></td>
					</tr>
					<tr>
						<td>To</td>
						<td><%= ticket.Destination || "..."%></td>
					</tr>
					<tr>
						<td>Klass</td>
						<td><%= ticket.Class || "unknown" %></td>
					</tr>
					<tr>
						<td>Type</td>
						<td><%= ticket.Type  || "unkwown" %></td>
					</tr>
					<tr>
						<td>Prijs</td>
						<td>&euro;<%= ticket.Price || 0%></td>
					</tr>
					<tr>
						<td class="center">
							<img class="qr" src="qr.png" alt="">
						</td>
					</tr>
				</table>
		</div>
	 </div>

</body>
</html>
